<!-- <h1>App-Example</h1>
<app-example age="31" hairColor="Black"> </app-example>
<app-example name="Samir" hairColor="Grey"> </app-example> -->
<!-- <h1>App-People-List</h1>
<app-people-list></app-people-list> -->
<!-- <app-event-handling></app-event-handling> -->
<!-- <app-multiple-choice
  (a)="handleA()"
  (b)="handleB()"
  (c)="handleC()"
  (d)="handleD()"
></app-multiple-choice> -->
<!-- <app-counter-button
  [parentCount]="count"
  (buttonClicked)="incrementCount()"
></app-counter-button>
<app-congratulations-message
  [count]="count"
  [threshold]="threshold"
></app-congratulations-message> -->
<app-nav-bar></app-nav-bar>
<app-tip-section>
  <p>Click the button more than 5 times...</p>
  <p>And then...</p>
  <p>It will navigate you</p>
  <button mat-raised-button>I understand</button>
</app-tip-section>
<app-success-button></app-success-button>
<app-danger-button></app-danger-button>
<router-outlet></router-outlet>
<p style="font-size: small">~~Angular Learning Project~~</p>
